.container {
  max-width: 1240px;
  margin: 0 auto;
}

body {
  font: #2d2d2d;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
}

.nav {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: auto;
  height: 150px;
}

.nav img {
  width: 100px;
  height: 100px;
}

a.hover {
  color: #b64036;
}
/* Header Section*/

/* Logo */
/* Do logo css here */
.logo {
  float: left;
  margin: 0 auto;
  padding: 10px;
}

.nav li {
  color: #e2574c;
  text-transform: uppercase;
  float: left;
  padding: 5px;
  width: 100%;
}

/* Cart */
.cart {
  float: left;
  margin: 0 auto;
  padding: 10px;
  width: 50px;
  height: 50px;
}
/* Hero Section */
.hero-banner {
  width: 100%;
  height: 400px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/banner-girl.png"), url("../images/flower-bkgd.jpg");
  background-position: left, center 50px, center;
  background-repeat: repeat, no-repeat, repeat;
  background-size: cover, contain, cover;
}

.hero-banner p,
.hero-banner h2 {
  color: white;
  text-align: center;
}

/* About Section*/
.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}
h2 {
  font-family: "Playfair Display", serif;
  text-align: center;
  padding: 20px;
  font-size: 24px;
}

.about {
  padding: 40px;
  justify-content: center;
  align-items: center;
}

.about p {
  line-height: 2;
}

/*Shop Grid*/

.shop-grid {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-content: flex-start;
  width: auto;
  height: 815px;
}

.shop-grid div {
  width: auto;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop-grid span {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
}

.item {
  width: auto;
  height: 200px;
}

.item:nth-child(1) {
  background-image: url("../images/mens-category.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  flex-basis: 100%;
}

.item:nth-child(2) {
  background-image: url("../images/trends-category.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  flex-basis: 49%;
}
.item:nth-child(3) {
  background-image: url("../images/glasses-category.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  flex-basis: 49%;
}
.item:nth-child(4) {
  background-image: url("../images/sale-category.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  flex-basis: 49%;
}

.item:nth-child(5) {
  background-image: url("../images/bags-category.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  flex-basis: 49%;
}
.item:nth-child(6) {
  background-image: url("../images/womens-category.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  flex-basis: 100%;
}
/* Featured Products */
.featured {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  height: 510px;
}

.center {
  text-align: center;
}

h3 {
  color: #e2574c;
  margin: 20px;
  font-family: "Playfair Display", serif;
  font-size: 20px;
}

.featured p {
  color: #969696;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
}

.featured button {
  display: none;
}
/* Updates */
.updates {
  color: #ffffff;
  width: 100%;
  height: 300px;
  background-image: url("../images/wave-bkgd.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.6;
}

/* Subscribe */
.center-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  color: #2d2d2d;
  font-family: "Raleway", sans-serif;
  background-color: #ffffff;
  border: none;
  border-radius: 20px;
  padding: 11px 18px;
  margin: 20px 0px;
  width: 75%;
  position: relative;
}

.subscribe {
  color: #ffffff;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  background-color: #e2574c;
  border: none;
  border-radius: 20px;
  padding: 8px 18px;
  margin: 20px 0px;
  position: absolute;
  right: 9%;
}

/* Footer */
footer {
  color: #ffffff;
  background-color: #242424;
  padding: 50px;
  text-align: center;
}
footer p {
  font-family: "Playfair Display", serif;
  padding: 10px;
  line-height: 1.6;
}
.grey-font {
  color: #969696;
}

footer a {
  color: #ffffff;
}

i {
  margin: 10px;
}

.sns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: auto;
}

.sns li {
  float: left;
}
.sns span {
  display: none;
}

@media screen and (min-width: 600px) {
  body {
    font-size: 16px;
  }
  footer {
    display: flex;
    justify-content: space-between;
  }

  .address p {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }

  .sns {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }
  .sns span {
    display: inline;
  }

  .sns li {
    float: none;
  }
  footer {
    text-align: left;
  }
}
@media screen and (min-width: 1240px) {
  .featured button {
    display: inline-block;
    color: white;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    background-color: #242424;
    border: none;
    border-radius: 20px;
    padding: 8px 15px;
    margin: 20px;
  }
}
